<footer class="page-footer grey darken-4">
    {{!-- <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>This is my footer</h4>
            </div>
        </div>
    </div> --}}
    <div class="footer-copyright">
        <p>Copyright of Pollsion.com</p>
    </div>
</footer>