<header>
    <div class="navbar">
        <nav class="purple darken-1">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">
                    <i class="material-icons" id="logo-icon">poll</i>Pollsion
                </a>
                <ul class="right hide-on-small-only show-on-medium-and-up">
                    <!-- Dropdown Trigger -->
                    <li><a href="#enterPollsion" class="modal-trigger">Enter Pollsion<i class="material-icons left">insert_link
                            </i></a></li>
                </ul>
                <ul class="right hide-on-med-and-up show-on-small">
                    <!-- Dropdown Trigger -->
                    <li><a href="#enterPollsion" class="modal-trigger"><i class="material-icons left">insert_link
                            </i></a></li>
                </ul>
            </div>
    </div>
    </nav>
    </div>
</header>


<!-- Modal Structure -->
<div id="enterPollsion" class="modal poll-modal">
    <div class="modal-content center">
        <div class="row valign-wrapper">
            <div class="col s9 m10 l10 xl11">
                <input type="text" class="input-enter-pollsion input-poll-modal" style="width: 100%;" placeholder="Enter Pollsion URL">
            </div>
            <div class="col s3 m2 l2 xl1">
                <button class="btn btn-enter-pollsion purple">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </div>
    </div>
</div>